<%
content_for(:head) do
  auto_discovery_link_tag(:rss, root_url(format: 'rss'), {title: "Подкаст о Тенерифе"})
end
%>

<section>
  <% if @current %>
    <%= render 'episode', episode: @current %>
  <% end %>

  <% if @previous.present? %>
    <h4 class="ui horizontal divider header">
      Предыдущие подкасты
    </h4>

    <% @previous.each do |episode| %>
      <%= render episode, vertical: true %>
    <% end %>
  <% end %>
</section>
