/*
 *= require semantic-ui/reset
 *= require semantic-ui/site
 *= require semantic-ui/container
 *= require semantic-ui/grid
 *= require semantic-ui/header
 *= require semantic-ui/divider
 *= require semantic-ui/segment
 *= require semantic-ui/form
 *= require semantic-ui/input
 *= require semantic-ui/button
 *= require semantic-ui/label
 *= require soundmanager2/bar-ui
 *= require fontello
 *= require_self
 */

body {
  border-top: 8px solid #0d71bb;
}

.ui.footer {
  margin-top: 30px !important;
}

.episode.general .text {
  overflow: hidden;
}
.episode.general .ui.image {
  float: left;
  margin: 0 20px 20px 0;
}

h1.ui.header {
  margin: 20px 0 !important;
}

.episode .date {
  font-size: 13px;
  margin: 5px 0;
  color: #767676;
  font-family: Helvetica, sans-serif;
}
.episode .download {
  font-size: 13px;
  margin: 5px 0;
  text-align: right;
  display: block;
  font-family: "calluna-sans", Helvetica, sans-serif;
}
.episode.general h2 {
  margin: 0 0 10px;
}
.episode.archive h2 {
  margin: 0;
}
.episode .text {
  margin-top: 10px;
}

.social-networks {
  text-align: center;
  margin-bottom: 20px;
}
.social-networks a {
  font-size: 1.5em;
  width: 36px;
  display: inline-block;
  box-sizing: border-box;
}
.social-networks .icon-youtube {
  color: #cd201f;
}
.social-networks .icon-facebook {
  color: #3b5998;
}
.social-networks .icon-vkontakte {
  color: #45668e;
}
.social-networks .icon-rss {
  color: #f26522;
}
.social-networks a::before {
  width: auto;
}
.description {
  text-align: center;
}
hr {
  height: 1px;
  border: 0;
  background: #ccc;
  margin: 20px 0;
}